/* You can add global styles to this file, and also import other style files */
// body{
//     background-color: black;
//     color: white;
// }

h1,
h2,
h3,
h4 {
  font-family: 'Bodoni Moda SC', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: orchid;
}

h2 {
  color: darkturquoise;
}
h3 {
  color: navy;
}

div {
  padding: 0 1rem;
  margin: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid lightgrey;
  border-radius: 6px;

  h2 {
    grid-column: 1/-1;
  }
}
